

/** Basic styling */
body {  font-family: 'Roboto', serif;  color: black; background-color: #fdfdfd; -webkit-text-size-adjust: 100%; -webkit-font-feature-settings: "kern" 1; -moz-font-feature-settings: "kern" 1; -o-font-feature-settings: "kern" 1; font-feature-settings: "kern" 1; font-kerning: normal; display: flex; min-height: 100vh; flex-direction: column; }

/** `main` element */
main { display: block; /* Default value of `display` of `main` element is 'inline' in IE 11. */ }

/** Images */
img { max-width: 100%; vertical-align: middle; }

/* h1, h2, h3, h4, h5, h6 {  } */

/* Links*/

a:visited { text-decoration: none; color:teal}

a:hover { text-decoration: none; color:teal }


/** Site header */

.wrapper {  
  
  display: flex;
  }


 .sticky {
  position: fixed;   
}

.border{
  box-shadow: 0 10px 20px 0px rgba(0,0,0,.03)
}


.page-banner
{
  width:100%;
  height: 400px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: flex;
  
  }
.banner-text
{
  width: 50%;
  font-size: 50px;
  align-items: center;
  float: left;
  padding-left: 10%;
  padding-top: 120px;
  color:cornsilk;
  font-family: 'Solway', sans-serif;
}

@media only screen and (max-width: 768px){
  [class="banner-text"] {
font-size: 30px;
}
}

.container{
     
  width:100%;
  margin: 5%;
  margin-top: 0px;
  margin-bottom: 0px;
  display: flex;
  font-family: 'Roboto', serif;
  height: 30%;
}

.image{
    width: -webkit-fill-available;
}

.img-section{
  display: flex;
  /* height: inherit; */
  width: 50%;
  float: right;
  padding: 5%;    
}

.text-section{
    display: flex;
    /* height: inherit; */
    width: 50%;
    float: left;
    clear: left;
    padding: 10%;
    padding-bottom: 0;
 }

 .title-box{
    height: inherit;
    padding: 5%; 
    padding-left: 0;
    font-family: 'Solway', serif;
    line-height: 10%; 
    letter-spacing: 8px;
    vertical-align: middle;
   }
 
 .site-title {   
          
    font-family: 'Solway', serif;
    letter-spacing: 8px;
    font-size: 90px;    
    margin: 0;
    vertical-align: middle;
  }

    
  .text-content{
    padding: 10%;
    padding-left: 0;
  }

  .text-title{
    font-size: 40px;
    font-weight: 400;
    font-family: 'Solway',serif;
  }

  .text{
    font-size: 20px;
    color: #606060;  
  }

  @media only screen and (max-width: 768px){
    [class= "site-title"] {
  font-size: 25px;
}
  }
  


  @media only screen and (max-width: 768px){
    [class= "text-title"] {
  font-size: 20px;
}
}

@media only screen and (max-width: 768px){
  [class= "text"] {
font-size: 15px;
}
}



  .button {
    background-color: black;
    border: none;
    min-width: 30%;
    border-radius: 5%;
    color: white;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    float:center;
    font-weight: bold;
  }

  @media only screen and (max-width: 768px){
    [class= "button"] {
    font-size: 15px;
  }
  }



@media screen and (max-width: 800px) {
   .wrapper {
      max-width: -webkit-calc(800px - (30px)); 
      max-width: calc(800px - (30px)); 
      padding-right: 15px; 
      padding-left: 15px; } }

.site-footer{
height: 30%;
background-color: #f2f2f2;
margin-top: 5%;
font-family: 'Roboto', serif;  color: black;
font-size: 20px;
padding: 2%;
display: flex;
justify-content: center;
}

.footer_content
{
  display: flex;
  justify-content: space-between;
  width: 20%;
  color: #2b2b28;
 }

 @media only screen and (max-width: 768px){
  [class="footer-content"] {
    padding-right: 30%; 
}
}
 
 
 .top-box{
  width: 100%;
  margin: 0px; 
  background-color: #fff;
  display: flex;
  justify-content: space-between; 

}

.tabs {
  display: flex;
  width: 100%;
  justify-content: center;
  margin: 0;
  padding: 1%;
}


@media only screen and (max-width: 768px){
  [class="tabs"] {
  align-items: center;
}
} 
.top-bar-element{
 
  font-family: 'Bebas Neue', serif; 
  
  color: teal;
  text-align: center;
  vertical-align: center;
  padding-left: 2%;
  padding-right: 2%;
  letter-spacing: 3px;
  font-size: 20px;
 }

.top-bar-element:visited {text-decoration: none}
.top-bar-element:hover {text-decoration: none }


 @media only screen and (max-width: 768px)
{
  [class="top-bar-element"] {
    padding-left: 2%;
    padding-right: 2%;
    font-size: 15px;
} 
@media only screen and (max-width: 768px){
  [class="top-box"] {
  align-items: center;
}
} 

.blog-card{
  height: 30%;
  display: block;
  border-color: #606060
}

.blogs-list{
   
  /* height: 500px; */
   margin: 10%;
   margin-top: 2%;
   display: flex;
   font-family: 'Roboto', serif;
 
}

.blog-img-section{
  align-items: center;
  height: 20%;
  width: 50%;
  float: left;
  display: flex;

}
.blog-img{
  width: 100%;
  padding: 2%;
 box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}
.blog-img:hover{
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.blog-text-section{
  align-items: center;
  height: 20%;
  width: 50%;
  float: right;
  display: flex;
  padding: 5%;

}
.blog-title{
  font-family: 'Poppins', 'serif';
  font-weight: 200;
  }

  .blog-description{
    font-family: 'Roboto', 'serif';

  }
 
}