


/** Reset some basic elements */
body, h1, h2, h3, h4, h5, h6, p, blockquote, pre, hr, dl, dd, ol, ul, figure { margin: 0; padding: 0; }

/** Basic styling */
body {  font-family: 'Roboto', serif;  color: black; background-color: #fdfdfd; -webkit-text-size-adjust: 100%; -webkit-font-feature-settings: "kern" 1; -moz-font-feature-settings: "kern" 1; -o-font-feature-settings: "kern" 1; font-feature-settings: "kern" 1; font-kerning: normal; display: flex; min-height: 100vh; flex-direction: column; }

/** `main` element */
main { display: block; /* Default value of `display` of `main` element is 'inline' in IE 11. */ }

/** Images */
img { max-width: 100%; vertical-align: middle; }

h1, h2, h3, h4, h5, h6 { font-weight: 400; }

/* Links*/
a { text-decoration: none; }

a:visited { text-decoration: none;}

a:hover { text-decoration: none; }


/** Site header */

.wrapper {  
  
  display: flex;
  }

.left-section{
  width: 70%;
  float: left;
  padding: 2%;

}

.right-section{
  width:30%;
  float: left;
  padding: 5%;
  max-height: 1000px;
}
.site-header {   
  height: 30%; 
  margin-top: 2%;
  margin-bottom: 7.5%; 
  font-family: 'Solway', serif;
  line-height: 10%; 
  letter-spacing: 8px; 
  color: #1f202c;
  display: flex;
  }


.site-title:hover {text-decoration: none; color: #1f7774}

 .sticky {
  position: fixed;
  
   
}

.border{
  box-shadow: 0 10px 20px 0px rgba(0,0,0,.03)
}


/* .clearfix {
  overflow: auto;
} */

.home-doodle{
  float: right; 
  width: 50%;
}

.container{
  /* height: 500px; */
  width:50%;
  margin-left: 0%;
  display: flex;
  font-family: 'Roboto', serif;
  
  }


  @media only screen and (max-width: 768px){
      [class="container"] {
    width: 100%;
  }
}

.img-section{
  /* display: flex; */
  align-items: center;
  height: inherit;
  width: 50%;
  float: left;
  display: flex;
  
  }

  .image{
    width: -webkit-fill-available;
  }



  .text-section{
  /* display: flex; */
  align-items: center;
  height: inherit;
  width: 50%;
  float: right;

    }

  .text-content{

    padding: 10%;
  }

  .text-title{
    font-size: 40px;
     font-weight: 400;

  }

.site-title {   
  /* margin-bottom: 7.5%;  */
  font-family: 'Poppins', serif;
  letter-spacing: 8px;
  padding-left: 0;
  font-size: 60px;    
  margin: 0;
   }


  @media only screen and (max-width: 768px){
    [class= "site-title"] {
  font-size: 30px;
}
  }


  .text{
    font-size: 20px;
    color: darkgray;
    letter-spacing: 1px;
  }



  @media only screen and (max-width: 768px){
    [class= "text-title"] {
  font-size: 20px;
}
}

@media only screen and (max-width: 768px){
  [class= "text"] {
font-size: 15px;
}
}



  .button {
    background-color: black;
    border: none;
    width: 30%;
    border-radius: 5%;
    color: white;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    float:center;
    font-weight: bold;
  }

  @media only screen and (max-width: 768px){
    [class= "button"] {
     font-size: 10px;
  }
  }



@media screen and (max-width: 800px) {
   .wrapper {
      max-width: -webkit-calc(800px - (30px)); 
      max-width: calc(800px - (30px)); 
      padding-right: 15px; 
      padding-left: 15px; } }

.site-footer{
height: 30%;
background-color: #f2f2f2;
margin-top: 5%;
font-family: 'Roboto', serif;  color: black;
font-size: 20px;
padding: 2%;
display: flex;
justify-content: center;
}

.footer_content
{
  display: flex;
  justify-content: space-between;
  width: 20%;
 }
 
 
 .top-box{
  width: 100%;
  margin: 0px; 
  background-color: #fff;
  display: flex;
  justify-content: space-between; 

}

.tabs {
  display: flex;
  width: 90%;
  justify-content: flex-end;
  margin: 0;
  padding: 1%;
}

.top-bar-element{
  display: flex; 
  font-family: 'Poppins', serif; 
  justify-content: space-between;
  color: teal;
  text-align: center;
  vertical-align: center;
  padding-left: 2%;
  

}

.logo{
  display: flex; 
  font-family: 'Solway', serif; 
  float: left;
  width: 5%;  
  padding: 1%;
}
@media only screen and (max-width: 768px){
  [class="logo"] {
    width: 3%; 
}
}


.top-bar-element:visited {text-decoration: none}
.top-bar-element:hover {text-decoration: none }
 @media only screen and (max-width: 768px)
{
  [class="top-bar-element"] {
  padding-left: 4%;
}
} 
/* 
@media only screen and (max-width: 768px){
  [class="top-box"] {
  align-items: center;
}
} */


 
